.todoform {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgb( 0, 0, 0, 0.2);
}

.moderInput {
    display: block;
    width: 100%;
    border: none;
    color: black;
    font-size: 16px;
}

.moderInput:focus{
    outline: none;
}

.moderButton {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #f7ca18;
    padding: 12px 20px;
    color: #ffffff;
    cursor: pointer;
}

.inputContainer {
    display: flex;
}